body {
  font-family: fantasy;
  background: linear-gradient(
    to right top,
    rgba(255, 5, 5, 0.966),
    rgba(17, 0, 255, 0.973)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.calculator {
  position: relative;
  display: grid;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.calculator .value {
  grid-column: span 4;
  height: 100px;
  text-align: right;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 18px;
  background: rgb(241, 241, 241);
}

.calculator span {
  display: grid;
  width: 60px;
  height: 60px;
  color: rgb(228, 231, 208);
  background: #0c2835;
  place-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calculator span:hover {
  background: #45575fc9;
}

.calculator span:active {
  background: rgba(28, 252, 240, 0.932);
  color: #111111;
}

.calculator span.clear {
  grid-column: span 2;
  width: 121px;
}

.calculator span.plus {
  grid-row: span 2;
  height: 121px;
}

.calculator span.equals {
  background: linear-gradient(
    to right top,
    rgba(0, 255, 136, 0.973),
    white,
    rgba(0, 255, 136, 0.973)
  );
  font-size: xx-large;
  color: black;
}

.calculator span.equals:active {
  background: yellow;
}
